doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 imp bot list
            p imp bot list join imp discord server.
        #searchMore
            | Would you like to 
            a(href='/bots/search/') search all bots
        #cards
            span#loading Loading...
